 .div-addBtn > button {
  padding : var(--pading-xs);
  font-size: var(--font-size-s);
  background-color: var(--color-2);
  color: var(--color-6);
  border-radius: var(--border-radius-s);
  border: 1px solid var(--color-6);
}

.div-addBtn > button:hover {
  background-color: var(--color-3);
  color: var(--color-6);
  border: 1px solid var(--color-6);
  cursor: pointer;
}

.div-addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--margin-s);
}

.tasks-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: var(--padding-xl);
  width: var(--width-full);
  gap: var(--gap-m);
}