nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--width-full);
  background-color: var(--color-3);
  gap: var(--gap-xl);
}

nav > ul > li {
  padding: var(--padding-s);
  margin: var(--margin-xs);
}

nav > ul > li:hover {
  background-color: var(--color-2);
  border-radius: var(--border-radius-s);
}

nav > ul > li > a {
  color: var(--color-6);
  font-size: var(--font-size-xl);
}