.footer {
  background-color: var(--color-1);
  color: var(--color-4);
  padding: var(--padding-s);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: var(--width-full);
  font-size: var(--font-size-xs);
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer a {
  color: var(--color-6);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}